.cardRow {
    margin-top: 40px !important;
}
.selectCol {
    padding-top: 50px !important;
}
.form-select > option {
    color: #306EB2 !important;
}
.cardCol {
    margin-bottom: 30px !important;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    /* padding-left: 25px !important;
    padding-right: 25px !important; */
    height: auto !important;
    padding-left: 39px !important;
}
.card {
    width: 18rem;
    display: inline-block !important;
    margin-right: 25px !important;
    margin-bottom: 25px !important;
}
.cardText {
    display: inline-block;
    width: 180px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
} 
.cardImage {
    box-shadow: 0px 5px 35px rgb(11, 11, 14);
}

@media (max-width: 428px) {
    .selectCol {
        width: auto !important;
        margin-left: 55px;
    }
    .card {
        margin-right: auto!important;
        margin-left: auto!important;
    }

}